<div class="navbar-header aside-md">
    <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
        <i class="fa fa-bars"></i>
    </a>
    <a href="#" class="navbar-brand" data-toggle="fullscreen">
        <i class="fa fa-cogs"></i> 权限系统
    </a>
    <a class="btn btn-link visible-xs" data-toggle="dropdown"
       data-target=".nav-user"> <i class="fa fa-cog"></i> </a>
</div>
<ul class="nav navbar-nav navbar-right hidden-xs nav-user">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="profile">
            <span class="thumb-sm avatar pull-left"><img src="admin/avatar" style="width: 28px;height: 28px"></span>
            {{adminUser.username}}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu animated fadeInRight">
            <span class="arrow top"></span>
            <li><a href="profile.html">个人信息</a></li>
            <li class="divider"></li>
            <li><a href="javascript:" class="logout">退出</a></li>
        </ul>
    </li>
</ul>