<section class="vbox">
    <section class="w-f scrollable">
        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
            <!-- nav -->
            <nav class="nav-primary hidden-xs" id="nav-container"></nav>
            <!-- / nav --> </div>
    </section>
    <footer class="footer lt hidden-xs b-t b-dark">
        <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-dark btn-icon"> <i
                class="fa fa-angle-left text"></i> <i class="fa fa-angle-right text-active"></i> </a>
    </footer>
</section>