<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">
    <property name="shop_log_pattern"
              value="[%d{'MM-dd HH:mm:ss,SSS',GMT+8:00}] %-5p [%.10t][%X{CU}] %logger{36}[%L] - %m%n"/>
    <property name="LOG_CHARSET" value="UTF-8"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{'MM-dd HH:mm:ss,SSS',GMT+8:00}] %-5p [%.10t][%X{CU}]
                %logger{36}[%L] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="COMMON"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/common.log</file>
        <append>true</append>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/common.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{'MM-dd HH:mm:ss,SSS',GMT+8:00}] %-5p [%.10t][%X{CU}]
                %logger{36}[%L] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="DB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/db.log</file>
        <append>true</append>
        <param name="datePattern" value=".yyyy-MM-dd"/>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/db.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{'MM-dd HH:mm:ss,SSS',GMT+8:00}] %-5p [%.10t][%X{CU}]
                %logger{36}[%L] - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error.log</file>
        <append>true</append>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{'MM-dd HH:mm:ss,SSS',GMT+8:00}] %-5p [%.10t][%X{CU}]
                %logger{36}[%L] - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="rbac.dao" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="DB"/>
        <appender-ref ref="ERROR"/>
    </logger>
    <logger name="rbac.web" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ERROR"/>
    </logger>

    <root>
        <appender-ref ref="COMMON"/>
        <appender-ref ref="DB"/>
        <appender-ref ref="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
