<!DOCTYPE html>
<html lang="en" class="app"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://rbac.rbacshiro.com"
>
<head th:include="template/top"></head>
<body>
<section class="vbox">
    <header th:include="template/header" class="bg-dark dk header navbar navbar-fixed-top-xs"></header>
    <section>
        <section class="hbox stretch">
            <!-- .aside -->
            <aside th:include="template/menu" class="bg-dark lter aside-md hidden-print" id="nav"></aside>
            <!-- /.aside -->
            <section id="content">
                <section class="hbox stretch">
                    <aside>
                        <section class="vbox">
                            <section class="scrollable padder">
                                <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                                    <li><a href="index.html"><i class="fa fa-home"></i> 首页</a></li>
                                    <li class="active">权限控制</li>
                                    <li class="active">权限管理</li>
                                </ul>
                                <header class="header bg-white b-b clearfix">
                                    <div class="row m-t-sm">
                                        <div class="col-sm-8 m-b-xs">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-default" title="Refresh"><i class="fa fa-refresh"></i></button>
                                                <button type="button" class="btn btn-sm btn-default" title="Remove"><i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-sm btn-default" title="Filter" data-toggle="dropdown"><i class="fa fa-filter"></i> <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>
                                            </div>
                                            <shiro:hasPermission values="RBAC_AUTHORITY_RULE_ADD" logical="AND">
                                            <a href="javascript:" data-target="rule-add.html" id="addRule" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> 添加</a>
                                            </shiro:hasPermission>
                                        </div>
                                        <div class="col-sm-4 m-b-xs">
                                            <div class="input-group">
                                                <input type="text" class="input-sm form-control" placeholder="Search">
                                                <span class="input-group-btn">
                                                <button class="btn btn-sm btn-default" type="button">Go!</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <section class="scrollable wrapper w-f">
                                    <section class="panel panel-default">
                                        <div class="table-responsive">
                                            <table class="table table-striped m-b-none">
                                                <thead>
                                                <tr>
                                                    <th>权限名</th>
                                                    <th>权限</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                <tbody id="data-list">
                                                <tr>
                                                    <td>
                                                        <% for (var i = 0; i < deepNum; i ++) { %>
                                                        &nbsp;&nbsp;<i class="fa fa-plus text"></i>
                                                        <% } %>
                                                        {{item.title}}
                                                    </td>
                                                    <td>
                                                        {{item.name}}
                                                    </td>
                                                    <td>
                                                        <div class="doc-buttons">
                                                            <shiro:hasPermission values="RBAC_AUTHORITY_RULE_ADD" logical="AND">
                                                            <button data-target="/rbac/rule-add.html" data-uuid="{{item.uuid}}" data-name="{{item.name}}" class="btn btn-sm btn-primary" title="添加子权限"><i class="fa fa-plus text"></i></button>&nbsp;
                                                            </shiro:hasPermission>
                                                            <shiro:hasPermission values="RBAC_AUTHORITY_RULE_EDIT" logical="AND">
                                                            <button data-target="/rbac/rule-edit.html" data-uuid="{{item.uuid}}" class="btn btn-sm btn-warning" title="修改"><i class="fa fa-wrench text"></i></button>&nbsp;
                                                            </shiro:hasPermission>
                                                            <shiro:hasPermission values="RBAC_AUTHORITY_RULE_DELETE" logical="AND">
                                                            <button data-target="/rbac/rules/delete?uuid={{item.uuid}}" class="btn btn-sm btn-danger" title="删除"><i class="fa fa-trash-o text"></i></button>&nbsp;
                                                            </shiro:hasPermission>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                </section>
                            </section>
                            <footer class="footer bg-white b-t">
                                <div class="row text-center-xs">
                                    <div class="col-md-6 hidden-sm"></div>
                                    <div class="col-md-6 col-sm-12 text-right text-center-xs" id="pagination">
                                        <!--   分页区 -->
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </aside>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a> </section>
            <aside class="bg-light lter b-l aside-md hide" id="notes">
                <div class="wrapper">Notification</div>
            </aside>
        </section>
    </section>
</section>
<!--  当前操作UUID -->
<input type="hidden" name="uuid" value="" id="uuid">
<input type="hidden" name="name" value="" id="name">
<script src="js/app.v2.js"></script> <!-- Bootstrap --> <!-- App -->
<script src="base.js"></script>
<script src="menu.js"></script>
<script src="layui/lay/dest/layui.all.js" cache="false"></script>
<script src="jquery.paging.min.js"></script>
<script src="template-web.js"></script>
<script>
    var ruleTemplate = loadArtTemplate('data-list');
    var showPage = function(pid, resultMap, deepNum){
        var trList = [];
        var list = resultMap[pid];
        for(var k in list) {
            var item = list[k];
            var render = template.compile(ruleTemplate);
            var html = render({
                pid:pid,
                deepNum:deepNum,
                item:item
            });
            trList.push(html);
            if(resultMap[item.id] != undefined) {
                trList.push(showPage(item.id, resultMap, deepNum + 1));
            }
        }
        return trList.join('');
    };

    commonAjax({
        url : "/rbac/rules/list",
        data:{},
        dataType:'json',
        success:function(result) {
            var resultMap = {};
            for(var k in result.data) {
                var item = result.data[k];
                if(resultMap[item.pid] == undefined) {
                    resultMap[item.pid] = [];
                }
                resultMap[item.pid].push(item);
            }
            var trList = showPage(0, resultMap, 0);
            $('#data-list').html(trList);
        }
    });


    $('#addRule').click(function(){
        $('input[name="uuid"]').val('');
        openWindow($(this).data('target'));
    });

    var openWindow = function(target) {
        layer.open({
            type:2,
            content:[target, 'no'],
            area:['400px', '300px']
        });
    };

    $(document).on('click', '#data-list div.doc-buttons>button.btn', function(){
        var index = $(this).index();
        var target = $(this).data('target');
        if(index == 0) {
            //  编辑
            $('input[name="uuid"]').val($(this).data('uuid'));
            $('input[name="name"]').val($(this).data('name'));
            layer.open({
                type:2,
                content:[target, 'no'],
                area:['400px', '300px']
            });
        } else if(index == 1 ) {
            //  编辑
            $('input[name="uuid"]').val($(this).data('uuid'));
            layer.open({
                type:2,
                content:[target, 'no'],
                area:['400px', '200px']
            });
        } else if(index == 2) {
            layer.open({
                type : 1,
                content:'<div style="padding: 20px 80px;">你确定要删除吗？</div>',
                btn:['确&nbsp;定', "再考虑一下"],
                yes : function(){
                    commonAjax({
                        url : target,
                        success : function(result) {
                            if(result.success) {
                                window.location.reload();
                            } else {
                                layer.msg(result.message);
                            }
                        }
                    });
                }
            });
        } else {
            layer.msg("非法操作");
            return;
        }
    });
</script>
</body>
</html>